<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.sqkg.mapper.TBdBankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kingdee.sqkg.domain.entity.TBdBank">
        <id column="FID" property="fid" />
        <result column="FCREATORID" property="fcreatorid" />
        <result column="FCREATETIME" property="fcreatetime" />
        <result column="FLASTUPDATEUSERID" property="flastupdateuserid" />
        <result column="FLASTUPDATETIME" property="flastupdatetime" />
        <result column="FCONTROLUNITID" property="fcontrolunitid" />
        <result column="FNAME_L1" property="fnameL1" />
        <result column="FNAME_L2" property="fnameL2" />
        <result column="FNAME_L3" property="fnameL3" />
        <result column="FNUMBER" property="fnumber" />
        <result column="FDESCRIPTION_L1" property="fdescriptionL1" />
        <result column="FDESCRIPTION_L2" property="fdescriptionL2" />
        <result column="FDESCRIPTION_L3" property="fdescriptionL3" />
        <result column="FSIMPLENAME" property="fsimplename" />
        <result column="FISLEAF" property="fisleaf" />
        <result column="FLEVEL" property="flevel" />
        <result column="FLONGNUMBER" property="flongnumber" />
        <result column="FDISPLAYNAME_L1" property="fdisplaynameL1" />
        <result column="FDISPLAYNAME_L2" property="fdisplaynameL2" />
        <result column="FDISPLAYNAME_L3" property="fdisplaynameL3" />
        <result column="FADDRESS" property="faddress" />
        <result column="FPHONE" property="fphone" />
        <result column="FLINKMAN" property="flinkman" />
        <result column="FFAX" property="ffax" />
        <result column="FBANKAREATYPE" property="fbankareatype" />
        <result column="FISBANK" property="fisbank" />
        <result column="FPARENTID" property="fparentid" />
        <result column="FISINGROUP" property="fisingroup" />
        <result column="FRELATEDCOMPANYID" property="frelatedcompanyid" />
        <result column="FISUSED" property="fisused" />
        <result column="FOPENDATE" property="fopendate" />
        <result column="FSETTLEDATE" property="fsettledate" />
        <result column="FDELETEDSTATUS" property="fdeletedstatus" />
        <result column="FPARENTINGROUPID" property="fparentingroupid" />
        <result column="FLONGNUMBERINGROUP" property="flongnumberingroup" />
        <result column="FISFINANCECOMPANY" property="fisfinancecompany" />
        <result column="FACCOUNTBANKID" property="faccountbankid" />
    </resultMap>

</mapper>
