<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.sqkg.mapper.TBdPersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kingdee.sqkg.domain.entity.TBdPerson">
        <id column="FID" property="fid" />
        <result column="FIDNUM" property="fidnum" />
        <result column="FNAME_L1" property="fnameL1" />
        <result column="FNAME_L2" property="fnameL2" />
        <result column="FNAME_L3" property="fnameL3" />
        <result column="FNUMBER" property="fnumber" />
        <result column="FDESCRIPTION_L1" property="fdescriptionL1" />
        <result column="FDESCRIPTION_L2" property="fdescriptionL2" />
        <result column="FDESCRIPTION_L3" property="fdescriptionL3" />
        <result column="FSIMPLENAME" property="fsimplename" />
        <result column="FGENDER" property="fgender" />
        <result column="FBIRTHDAY" property="fbirthday" />
        <result column="FEMAIL" property="femail" />
        <result column="FADDRESS_L1" property="faddressL1" />
        <result column="FADDRESS_L2" property="faddressL2" />
        <result column="FADDRESS_L3" property="faddressL3" />
        <result column="FSTATE" property="fstate" />
        <result column="FHOMEPHONE" property="fhomephone" />
        <result column="FOFFICEPHONE" property="fofficephone" />
        <result column="FCELL" property="fcell" />
        <result column="FBACKUPCELL" property="fbackupcell" />
        <result column="FBACKUPEMAIL" property="fbackupemail" />
        <result column="FRTX" property="frtx" />
        <result column="FIDCARDNO" property="fidcardno" />
        <result column="FIDCARDADRESS_L1" property="fidcardadressL1" />
        <result column="FIDCARDADRESS_L2" property="fidcardadressL2" />
        <result column="FIDCARDADRESS_L3" property="fidcardadressL3" />
        <result column="FPASSPORTNO" property="fpassportno" />
        <result column="FOLDNAME_L1" property="foldnameL1" />
        <result column="FOLDNAME_L2" property="foldnameL2" />
        <result column="FOLDNAME_L3" property="foldnameL3" />
        <result column="FHEIGHT" property="fheight" />
        <result column="FNATIVEPLACE_L1" property="fnativeplaceL1" />
        <result column="FNATIVEPLACE_L2" property="fnativeplaceL2" />
        <result column="FNATIVEPLACE_L3" property="fnativeplaceL3" />
        <result column="FBLOODTYPE" property="fbloodtype" />
        <result column="FCREATORID" property="fcreatorid" />
        <result column="FCREATETIME" property="fcreatetime" />
        <result column="FLASTUPDATEUSERID" property="flastupdateuserid" />
        <result column="FLASTUPDATETIME" property="flastupdatetime" />
        <result column="FKACLASSFICATIONID" property="fkaclassficationid" />
        <result column="FWEDID" property="fwedid" />
        <result column="FHEALTHID" property="fhealthid" />
        <result column="FPOLITICALFACEID" property="fpoliticalfaceid" />
        <result column="FSTANDINGID" property="fstandingid" />
        <result column="FFOLKID" property="ffolkid" />
        <result column="FBIRTHID" property="fbirthid" />
        <result column="FCONTROLUNITID" property="fcontrolunitid" />
        <result column="FHRORGUNITID" property="fhrorgunitid" />
        <result column="FRESIDENCEPLACE" property="fresidenceplace" />
        <result column="FLENOFACTUALSERVICE" property="flenofactualservice" />
        <result column="FEMPLOYEETYPEID" property="femployeetypeid" />
        <result column="FHIGHESTTECHPOSTID" property="fhighesttechpostid" />
        <result column="FHIGHESTDEGREEID" property="fhighestdegreeid" />
        <result column="FEMPLOYEECLASSIFYID" property="femployeeclassifyid" />
        <result column="FDELETEDSTATUS" property="fdeletedstatus" />
        <result column="FLCMRATIONLEVELID" property="flcmrationlevelid" />
        <result column="FNATIONALITYID" property="fnationalityid" />
        <result column="FCHECKSTATE" property="fcheckstate" />
        <result column="FINDEX" property="findex" />
        <result column="FEMPLOYTECHPOSTID" property="femploytechpostid" />
        <result column="FHIGHESTSUBDEGREEID" property="fhighestsubdegreeid" />
        <result column="FZDY1" property="fzdy1" />
        <result column="FZDY2" property="fzdy2" />
        <result column="FZDY3" property="fzdy3" />
        <result column="FZDY4" property="fzdy4" />
        <result column="FZDY5" property="fzdy5" />
        <result column="FZDY6" property="fzdy6" />
        <result column="FZDY7" property="fzdy7" />
        <result column="FZDY8" property="fzdy8" />
        <result column="FZDY9" property="fzdy9" />
        <result column="FZDY10" property="fzdy10" />
        <result column="FZDY11" property="fzdy11" />
        <result column="FZDY12" property="fzdy12" />
        <result column="FZDY13" property="fzdy13" />
        <result column="FZDY14" property="fzdy14" />
        <result column="FZDY15" property="fzdy15" />
        <result column="FZDY16" property="fzdy16" />
        <result column="FZDY17" property="fzdy17" />
        <result column="FZDY18" property="fzdy18" />
        <result column="FZDY19" property="fzdy19" />
        <result column="FZDY20" property="fzdy20" />
        <result column="FZDY21" property="fzdy21" />
        <result column="FZDY22" property="fzdy22" />
        <result column="FZDY23" property="fzdy23" />
        <result column="FZDY24" property="fzdy24" />
        <result column="FZDY25" property="fzdy25" />
        <result column="FZDY26" property="fzdy26" />
        <result column="FFULLNAMEPINGYIN" property="ffullnamepingyin" />
        <result column="FSIMPLENAMEPINGYIN" property="fsimplenamepingyin" />
        <result column="FISSTANDBY" property="fisstandby" />
        <result column="FISSTANDBYCADRE" property="fisstandbycadre" />
        <result column="FHIGHESTCOMPETENCYID" property="fhighestcompetencyid" />
        <result column="FNAMEPINYIN" property="fnamepinyin" />
        <result column="FNAMESHORTPINYIN" property="fnameshortpinyin" />
        <result column="FREGRESIDENCEID" property="fregresidenceid" />
        <result column="FHJADDRESS" property="fhjaddress" />
        <result column="FIDCARDADDRESS" property="fidcardaddress" />
        <result column="FHOMEPLACE" property="fhomeplace" />
        <result column="FEFFDT" property="feffdt" />
        <result column="FLEFFDT" property="fleffdt" />
        <result column="FHISTORYRELATEID" property="fhistoryrelateid" />
        <result column="FIDCARDBEGINDATE" property="fidcardbegindate" />
        <result column="FIDCARDENDDATE" property="fidcardenddate" />
        <result column="FEXTENDFIELDNUMONE" property="fextendfieldnumone" />
        <result column="FPROTOCOL" property="fprotocol" />
        <result column="FIDCARDISSUEORG" property="fidcardissueorg" />
        <result column="FGKADMIN" property="fgkadmin" />
        <result column="FISHIDESENSITIVE" property="fishidesensitive" />
        <result column="FFIRSTNAME_L1" property="ffirstnameL1" />
        <result column="FFIRSTNAME_L2" property="ffirstnameL2" />
        <result column="FFIRSTNAME_L3" property="ffirstnameL3" />
        <result column="FLASTNAME_L1" property="flastnameL1" />
        <result column="FLASTNAME_L2" property="flastnameL2" />
        <result column="FLASTNAME_L3" property="flastnameL3" />
        <result column="FTITLE_L1" property="ftitleL1" />
        <result column="FTITLE_L2" property="ftitleL2" />
        <result column="FTITLE_L3" property="ftitleL3" />
        <result column="FMIDDLENAME_L1" property="fmiddlenameL1" />
        <result column="FMIDDLENAME_L2" property="fmiddlenameL2" />
        <result column="FMIDDLENAME_L3" property="fmiddlenameL3" />
        <result column="FGLOBALROAMING" property="fglobalroaming" />
        <result column="FNCELL" property="fncell" />
        <result column="FHIREDATE" property="fhiredate" />
    </resultMap>

</mapper>
