<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.sqkg.mapper.TOrgAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kingdee.sqkg.domain.entity.TOrgAdmin">
        <id column="FID" property="fid" />
        <result column="FNAME_L1" property="fnameL1" />
        <result column="FNAME_L2" property="fnameL2" />
        <result column="FNAME_L3" property="fnameL3" />
        <result column="FNUMBER" property="fnumber" />
        <result column="FDESCRIPTION_L1" property="fdescriptionL1" />
        <result column="FDESCRIPTION_L2" property="fdescriptionL2" />
        <result column="FDESCRIPTION_L3" property="fdescriptionL3" />
        <result column="FSIMPLENAME" property="fsimplename" />
        <result column="FISGROUPING" property="fisgrouping" />
        <result column="FEFFECTDATE" property="feffectdate" />
        <result column="FINVALIDDATE" property="finvaliddate" />
        <result column="FISFREEZE" property="fisfreeze" />
        <result column="FISCOMPANYORGUNIT" property="fiscompanyorgunit" />
        <result column="FISADMINORGUNIT" property="fisadminorgunit" />
        <result column="FISSALEORGUNIT" property="fissaleorgunit" />
        <result column="FISPURCHASEORGUNIT" property="fispurchaseorgunit" />
        <result column="FISSTORAGEORGUNIT" property="fisstorageorgunit" />
        <result column="FISPROFITORGUNIT" property="fisprofitorgunit" />
        <result column="FISCOSTORGUNIT" property="fiscostorgunit" />
        <result column="FISCU" property="fiscu" />
        <result column="FISUNION" property="fisunion" />
        <result column="FISHRORGUNIT" property="fishrorgunit" />
        <result column="FCREATORID" property="fcreatorid" />
        <result column="FCREATETIME" property="fcreatetime" />
        <result column="FLASTUPDATEUSERID" property="flastupdateuserid" />
        <result column="FLASTUPDATETIME" property="flastupdatetime" />
        <result column="FCONTROLUNITID" property="fcontrolunitid" />
        <result column="FISLEAF" property="fisleaf" />
        <result column="FLEVEL" property="flevel" />
        <result column="FLONGNUMBER" property="flongnumber" />
        <result column="FPARENTID" property="fparentid" />
        <result column="FISENTITY" property="fisentity" />
        <result column="FISVIRTUAL" property="fisvirtual" />
        <result column="FPHONENUMBER" property="fphonenumber" />
        <result column="FLAYERID" property="flayerid" />
        <result column="FRESPONPOSITIONID" property="fresponpositionid" />
        <result column="FADDRESSID" property="faddressid" />
        <result column="FPRINCIPALID" property="fprincipalid" />
        <result column="FLAYERTYPEID" property="flayertypeid" />
        <result column="FBASEDUTY_L1" property="fbasedutyL1" />
        <result column="FBASEDUTY_L2" property="fbasedutyL2" />
        <result column="FBASEDUTY_L3" property="fbasedutyL3" />
        <result column="FINDEX" property="findex" />
        <result column="FJOBSYSTEMID" property="fjobsystemid" />
        <result column="FADMINADDRESS_L1" property="fadminaddressL1" />
        <result column="FADMINADDRESS_L2" property="fadminaddressL2" />
        <result column="FADMINADDRESS_L3" property="fadminaddressL3" />
        <result column="FZIPCODE" property="fzipcode" />
        <result column="FFAX" property="ffax" />
        <result column="FISSEALUP" property="fissealup" />
        <result column="FISSTART" property="fisstart" />
        <result column="FISOUSEALUP" property="fisousealup" />
        <result column="FDISPLAYNAME_L1" property="fdisplaynameL1" />
        <result column="FDISPLAYNAME_L2" property="fdisplaynameL2" />
        <result column="FDISPLAYNAME_L3" property="fdisplaynameL3" />
        <result column="FPROPERTYSEALUPDATE" property="fpropertysealupdate" />
        <result column="FVERSIONNUMBER" property="fversionnumber" />
        <result column="FCODE" property="fcode" />
        <result column="FISTRANSPORTORGUNIT" property="fistransportorgunit" />
        <result column="FISQUALITYORGUNIT" property="fisqualityorgunit" />
        <result column="FSORTCODE" property="fsortcode" />
        <result column="FINDUSTRYID" property="findustryid" />
        <result column="FECONOMICTYPE" property="feconomictype" />
        <result column="FREGISTEREDCAPITAL" property="fregisteredcapital" />
        <result column="FREGISTEREDCODE" property="fregisteredcode" />
        <result column="FSETUPDATE" property="fsetupdate" />
        <result column="FENDUPDATE" property="fendupdate" />
        <result column="FTAXNUMBER" property="ftaxnumber" />
        <result column="FISCHURCHYARD" property="fischurchyard" />
        <result column="FJURIDICALPERSONID" property="fjuridicalpersonid" />
        <result column="FISJURIDICALCOMPANY" property="fisjuridicalcompany" />
        <result column="FISINDEPENDENCE" property="fisindependence" />
        <result column="FTERRITORY_L1" property="fterritoryL1" />
        <result column="FTERRITORY_L2" property="fterritoryL2" />
        <result column="FTERRITORY_L3" property="fterritoryL3" />
        <result column="FORGCODE" property="forgcode" />
        <result column="FAREAID" property="fareaid" />
        <result column="FORGPROPERTYID" property="forgpropertyid" />
        <result column="FREGISTTYPEID" property="fregisttypeid" />
        <result column="FEFFDT" property="feffdt" />
        <result column="FLEFFDT" property="fleffdt" />
        <result column="FHISTORYRELATEID" property="fhistoryrelateid" />
        <result column="FDELEGATEHRID" property="fdelegatehrid" />
        <result column="FORGFUNCTIONID" property="forgfunctionid" />
        <result column="FCOMPANYID" property="fcompanyid" />
        <result column="FDEPARTMENTID" property="fdepartmentid" />
        <result column="FOFFICEID" property="fofficeid" />
        <result column="FLEVELFOURGROUPID" property="flevelfourgroupid" />
        <result column="FLEVELFIVEGROUPID" property="flevelfivegroupid" />
        <result column="FLEVELFIVEGROUP" property="flevelfivegroup" />
        <result column="FLEVELSIXGROUPID" property="flevelsixgroupid" />
        <result column="FRESERVEFIELDFIRST" property="freservefieldfirst" />
        <result column="FRESERVEFIELDSECOND" property="freservefieldsecond" />
        <result column="FRESERVEITEMFIRST" property="freserveitemfirst" />
        <result column="FRESERVEITEMSECOND" property="freserveitemsecond" />
        <result column="FISSTARTSHR" property="fisstartshr" />
        <result column="FORGTYPESTR" property="forgtypestr" />
        <result column="FLEVELONEGROUPID" property="flevelonegroupid" />
        <result column="FLEVELTWOGROUPID" property="fleveltwogroupid" />
    </resultMap>

</mapper>
